/* Global styles */
* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  background-color: #b9d2bd;
}
main {
  max-width: 1200px;
  margin: 0 auto;
  align-content: center;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

video {
  width: 100%;
  height: auto;
  display: block;
  padding-block: 10px;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  padding-top: 20px;
}
@font-face {
  font-family: ms madi;
  src: url("fonts/msmadi-regular-webfont.woff2") format(woff2);
}
@font-face {
  font-family: dinbold;
  src: url("fonts/din-bold-webfont.woff2") format(woff2);
}

/* mobile first */
.margin_1 {
  padding-top: 70px;
}
h1 {
  font-size: 5rem;
  font-family: Geneva, Tahoma, sans-serif;
  line-height: 0.89;
  margin-left: 20px;
  color: white;
  padding-block: 10px;
}

h2 {
  font-size: 1rem;
  font-family: Geneva, Tahoma, sans-serif;
  margin-block: 10px;
  margin-left: 20px;
  color: white;
}

.titel1 {
  font-size: 7rem;
  font-family: Geneva, Tahoma, sans-serif;
  line-height: 0.89;
  color: white;
}

.titel2 {
  font-family: Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  letter-spacing: 1rem;
  margin-left: 20px;
  color: white;
  grid-column: 1 / span 2;
}

.titel3 {
  font-family: ms madi, Geneva, Tahoma, sans-serif;
  font-size: 10rem;
  margin-top: 0%;
  margin-left: 20px;
  grid-column: 1 / span 2;
}
.grid_2 {
  display: grid;
}
.copy {
  grid-column: 1 / span 2;
  grid-row: 1;
}
.billede1 {
  padding-block: 10px;
}
.copy2 {
  background-color: white;
  padding: 10px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 5px 10px;
  color: black;
  font-family: Futura, Tahoma, sans-serif;
  font-weight: 400;
}

p {
  font-family: Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  margin-left: 20px;
  padding-top: 10px;
  color: white;
}

footer {
  font-family: Geneva, Tahoma, sans-serif, "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 1rem;
  margin-top: 80px;
  position: sticky;
  /* top: 100vh; */
  color: white;
}

/* gallery */
.gallery {
  display: grid;
  grid-gap: 20px;
  align-items: stretch;
}

.landscape {
  grid-column: 1 / span 2;
}
.portrait {
  grid-row: 2 / span1;
}
.image2 {
  grid-column: 1 / span1;
}

.image3 {
  grid-column: 2 / span1;
}

/* gallery2 */

.gallery2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
  padding-bottom: 50px;
}
.gallery2 img {
  object-fit: cover;
}

.image2_2 {
  grid-column: 1;
  grid-row: 2;
}
.image1_2 {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.image3_2 {
  grid-column: 2;
  grid-row: 2;
}

.grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 5px 10px;
}
.layout1 {
  grid-column: 1;
}

.layout2 {
  grid-column: 2;
}

/* Desktop */
@media (min-width: 1000px) {
  .splash {
    width: 100%;
    height: 100vh;
    background-image: url(webp/tiago_gradient2.webp);
    background-repeat: no-repeat;
    margin: 0;
    background-size: cover;
  }

  .overtitel {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  h1 {
    font-size: 7rem;
    font-family: Geneva, Tahoma, sans-serif;
    line-height: 0.89;
    margin-left: 20px;
    color: white;
  }

  .titel1 {
    font-size: 10rem;
    font-family: Geneva, Tahoma, sans-serif;
    line-height: 0.89;
    color: white;
  }

  .titel2 {
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 3.5rem;
    letter-spacing: 1.5rem;
    margin-left: 20px;
    color: white;
    grid-column: 1 / span 2;
  }

  .titel3 {
    font-family: ms madi, Geneva, Tahoma, sans-serif;
    font-size: 13rem;
    margin-top: 0%;
    margin-left: 20px;
    grid-column: 8 / span 2;
  }
  .grid_2 {
    display: grid;
  }
  .copy {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  p {
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    margin-left: 20px;
    color: white;
    padding-block: 10px;
  }
  .billede1 {
    display: none;
  }

  /* video grid */
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: white;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 15px;
    box-shadow: 5px 10px;
  }

  .col2 {
    grid-column: 1;
    grid-row: 1;
  }
  .col3 {
    grid-column: 2;
    grid-row: 1;
  }

  /* gallery */

  .gallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .gallery img {
    object-fit: cover;
  }

  .image2 {
    grid-column: 1;
    grid-row: 1;
  }
  .image1 {
    grid-column: 2 / span 2;
    grid-row: 1;
  }

  .image3 {
    grid-column: 4 / span 1;
    grid-row: 1;
  }
  .image4 {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  .image5 {
    grid-column: 3 / span 2;
    grid-row: 2;
  }
}
